<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>勤怠編集</title>
</head>
<body>
<header>
</header>
<main>
    <div class="main-contents page-new">
        <h1>勤怠編集</h1>
        <form th:method="put" th:action="@{/attendance/update/{id}(id=${formModel.id})}" th:object="${formModel}" onsubmit="return confirmSubmit(event, '更新しますか？')">

            <div th:if="${#fields.hasGlobalErrors()}" class="error-global">
                <div th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
            </div>

            <div class="errorMessages">
                <div class="error" th:if="${errorMessages != null}" th:each="errorMessage : ${errorMessages}" th:text="${errorMessage}"></div>
            </div>
            <!-- CSRFトークン -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="hidden" th:field="*{userId}"/>
            <input type="hidden" th:field="*{status}"/>

            <div class="form-row">
                <div class="form-item">
                    <label>【日付】</label>
                    <div class="error" th:if="${#fields.hasErrors('workDate')}" th:errors="*{workDate}"></div>
                    <input type="date" class="input-area" th:field="*{workDate}"/>
                </div>
                <div class="form-item">
                    <label>【勤務開始】</label>
                    <div class="error" th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}"></div>
                    <input type="time" class="input-area" th:field="*{startTime}"/>
                </div>
                <div class="form-item">
                    <label>【勤務終了】</label>
                    <div class="error" th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}"></div>
                    <input type="time" class="input-area" th:field="*{endTime}"/>
                </div>
                <div class="form-item">
                    <label>【休憩開始】</label>
                    <div class="error" th:if="${#fields.hasErrors('startRest')}" th:errors="*{startRest}"></div>
                    <input type="time" class="input-area" th:field="*{startRest}"/>
                </div>
                <div class="form-item">
                    <label>【休憩終了】</label>
                    <div class="error" th:if="${#fields.hasErrors('endRest')}" th:errors="*{endRest}"></div>
                    <input type="time" class="input-area" th:field="*{endRest}"/>
                </div>
            </div>
            <div class="button-group">
                <input type="submit" class="btn-add" value="更新"/>
            </div>
        </form>
        <form th:method="delete" th:action="@{/attendance/delete/{id}(id=${formModel.id})}" onsubmit="return confirmSubmit(event, '本当に削除しますか？')">
            <!-- CSRFトークン -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="button-group">
                <input type="submit" class="btn-delete" value="削除"/>
            </div>
            <div class="button-group">
                <div class="btn-return"><a th:href="@{/}">戻る</a></div>
            </div>
        </form>
    </div>
</main>
<footer>
</footer>
<script>
    function confirmSubmit(event, message) {
    if (!confirm(message)) {
        event.preventDefault();
        return false;
    }
    return true;
}
</script>
</body>
</html>