<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <script th:src="@{/js/main.js}"></script>
    <title>勤怠編集</title>
</head>
<body>
<header>
    <div class="header-contents">
        <h1>勤怠編集</h1>
        <th:block class="loginUser" th:switch="${loginUser.departmentId}">
            <span th:case=1 th:text="人事部"></span>
            <span th:case=2 th:text="営業部"></span>
            <span th:case=3 th:text="技術部"></span>
        </th:block>
        /
        <span class="loginUser" th:text="${loginUser.name}"></span>
        <form class="logout" th:action="@{/logout}" th:method="get">
            <input type="submit" value="ログアウト">
        </form>
    </div>
</header>
<main>
    <div class="main-contents">
        <form method="put" th:action="@{/attendance/update/{id}(id=${fromModel.id}}" th:object="${formModel}">
            <div class="errorMessages">
                <div th:if="${#fields.hasErrors('workDate')}" th:errors="*{workDate}"></div>
                <div th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}"></div>
                <div th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}"></div>
                <div th:if="${#fields.hasErrors('rest')}" th:errors="*{rest}"></div>
            </div>
            <div class="form-area">
                <label>日付</label>
                <input type="date" th:field="*{workDate}"/>
                <label>開始時間</label>
                <input type="time" th:field="*{startTime}"/>
                <label>終了時間</label>
                <input type="time" th:field="*{endTime}"/>
                <label>休憩時間</label>
                <input type="time" th:field="*{rest}"/>
                <input type="submit" value="更新">
            </div>
        </form>
    </div>
</main>
<footer>
    <div class="footer-contents">
        <form th:action="@{/}">
            <input type="submit" value="戻る">
        </form>
    </div>
</footer>
</body>
</html>