<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <script th:src="@{/js/main.js}"></script>
    <title>仮ホーム画面</title>
</head>
<body>
    <div th:text="${errorMessage}"></div>
    <h1 th:text="${#authentication.name}"></h1>
    <form class="logout" th:action="@{/logout}" th:method="get">
        <input type="submit" value="ログアウト">
    </form>
</body>
</html>